body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* background-color: rgb(216, 216, 179);   */
  background-color: #101820ff; /*#1b1c20*/
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
}

 #parent {
  border: 1px solid rgb(173, 172, 172);
  border-radius: 6px;
  box-sizing: border-box;
  width: 43%;
  padding: 1%;
  margin: 1% auto;

}

.aboutme ul {
  margin-left: 1%;
}

.aboutme li {
  color: rgb(20, 175, 100);
}

.projectLinksList li {
  margin: 1.5%;
  color:#006b38ff;
}

.projectLinksList a {
  color:rgb(16, 133, 76);
  text-decoration: none;
}

.projectLinksList a:hover {
  text-decoration:underline;
}

.contactForm {
  max-height: 1000px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  display: block;
}

.contactForm label {
  margin: 8px 0;
}

.contactForm input, textarea {
  white-space: pre-wrap;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid rgb(173, 172, 172);
  background-color: #3c3f4b;
  color:white;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
}

.contactForm #send {
  background-color: #3c3f4b;
  cursor: pointer;
}

.contactForm #send:hover {
  background-color: #2c324d;
}

.contactForm #send:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(15, 1, 34, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.contactForm #send:active {
  background-color: #2c324d;
  border-color: #000000;
  transform: scale(.96);
}

footer {
  background-color: rgb(30, 49, 68);
  height: 40px;
  border-radius: 7px;
  padding: 5px;
}

footer a {
  float: right;
  margin-left: 10px;
}

.button {
  background-color: #3c3f4b;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 8px 23px;
  position: relative;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:hover{
  background-color: #2c324d;
}


.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(15, 1, 34, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #2c324d;
  border-color: #000000;
  transform: scale(.96);
}

.blogBlock {
  white-space: pre-wrap;
  padding: 10px;
}

.italic {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}